{% extends 'parent.html' %}
{% block title %}
    <title>Contact Us</title>
{% endblock title %}
{% block main %}
    <div class="container">
        <h2 class="my-5 text-center">Get in touch with us.</h2>
    <form action="contactdetails" method="POST">
        <div class="mb-3 border p-4">
          <label for="ContactEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="ContactEmail" name="ContactEmail" aria-describedby="emailHelp">
          <label for="ContactNumber" class="form-label">Password</label>
          <input type="tel" class="form-control" id="ContactNumber" name="ContactNumber">
          <div id="emailHelp" class="form-text mb-2">We'll never share your contact details with anyone else.</div>
          <label for="problem" class="form-label">Your Message</label>
          <textarea rows="3"name="problem" id="problem" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
{% endblock main %}