{% extends 'parent.html' %}
{% block title %}
    <title>Library Management Suite</title>
{% endblock title %}
{% block main %}
    <div class="container">
        <h1 class="text-center mb-3">LibraryManagement Suite</h1>

        <p>To use the application, set up a virtual environment with Flask and flask-sqlalchemy installed</p>
        <p>Next launch the server by running the app.py file</p>        
        <p>* to add a record, press the "Add a Book" button on the navbar, enter the necessary fields and click the submit button</p>
        <p>* to see the list of all records, click on the "Show all Records" button on nav </p>
        <p>* to update a task from the list, click the update button next to it and change necessary fields and click "Update Button"</p>
        <p>* to delete a task from the list, click the delete button next to it</p>
        
        
    </div>
{% endblock main %}